--extra-index-url https://download.pytorch.org/whl/cpu
python-3.10.13
fastapi
uvicorn[standard]
pdfplumber
google-generativeai
firebase-admin
python-multipart
pinecone
sentence-transformers==2.2.2
torch==2.0.1+cpu
numpy
protobuf==3.20.*
